extends layout.pug

mixin favoriteBeatle(value)
    option(value=value)

block content
    include includes/errors.pug
    form(action="/create-interesting" method="post")
        include includes/form-inputs.pug
        label(for="age") Age:
        input(type="number" id="age" name="age" value=age)
        label(for="favoriteBeatle") Choose Your Favorite Beatles Member:
        select(id="favoriteBeatle" name="favoriteBeatle")
            option(value="") --Please choose an option--
            +favoriteBeatle("John")
            +favoriteBeatle("Paul")
            +favoriteBeatle("Ringo")
            +favoriteBeatle("George")
            +favoriteBeatle("Scooby-Doo")
        label(for="iceCream") Do you like Ice Cream?
        input(type="checkbox" id="iceCream" name="iceCream")
        input(type="submit" value="Create Interesting User")
